.user-form
{
    justify-self: center;
    text-align: left;
    margin: 20px 0 20px 0;
    padding: 20px 50px 20px 50px;
    width: fit-content;
    border-radius: 20px;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.67);
}
.user-form h2, .user-form h3
{
    text-align: center;
    margin-bottom: 10px;
}
.user-form #btn
{
    display: block;
    margin: 0 auto 0.75rem;
    padding: 0.5rem 1rem;
    border: none;
    background: #007bff;
    color: #fff;
    border-radius: 5px;
    cursor: pointer;
}
.user-form input, .user-form label
{
    margin-left: 1.1rem;
}

.new-form #name, .new-form #email
{
    min-width: 300px;
}
.new-form #password,.new-form #confirm
{
    min-width: 200px;
}
.new-form #sec-question
{
    min-width: 400px;
}
.new-form#sec-answer
{
    min-width: 300px;
}

.user-form #password-change
{
    background-color: rgba(255, 181, 72, 0.14);
}
.user-form input
{
    min-width: 170px;
}
