/*
  File: main_style.css
  Author: Shane John
  Date: 2025-05-10
  Course: CPSC 3750 – Web Application Development
  Purpose: Stylesheet for a foundational base across the website
  Notes: This is supposed to be general across the site, but still needs work on separation of concerns
*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
   * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
  }
.wrapper
  {
     top: 0;
    position: relative;
    background: #1b2332;
    width: 100%;  
    z-index: 3000;
   
    
  }

.wrapper nav
  {
    background: #1b2332;
    max-width: calc(100% - 100px);
    margin: 0 auto;
    height: 70px;
    align-items: center;
    justify-content: space-between;
  }
nav .content
  {
    background: #1b2332;
    display: flex;
    align-items: center;
  }
nav .content .links
  {
    margin-left: 80px;
    display: flex;
  }
.content .links li
  {
    list-style: none;
    line-height: 69px;
  }
.content .links li a,
.content .links li label
  {
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    padding: 9px 17px;
    border-radius: 5px;
    transition: all 0.3s ease;
  }
.content .links li label
  {
    display: none;
  }
.content .links li a:hover,
.content .links li label:hover
  {
    background: #323c4e;
  }


.wrapper .menu-icon
  {
    color: #fff;
    font-size: 18px;
    cursor: pointer;
    line-height: 70px;
    width: 70px;
    text-align: center;
  }
.wrapper .menu-icon
  {
    display: none;
  }
.wrapper input[type="checkbox"]
  {
    display: none;
  }


.content .logo a
  {
    color: #fff;
    font-size: 30px;
    font-weight: 600;
  }


/* Dropdown Menu code start */
.content .links ul
  {
    position: absolute;
    background: #171c24;
    top: 80px;
    z-index: -1;
    opacity: 0;
    visibility: hidden;
  }
.content .links li:hover > ul
  {
    top: 70px;
    opacity: 1;
    visibility: visible;
    transition: all 0.3s ease;
  }
.content .links ul li a
  {
    display: block;
    width: 100%;
    line-height: 30px;
    border-radius: 0px!important;
  }
.content .links ul ul
  {
    position: absolute;
    top: 0;
    right: calc(-100% - 100px);
  }

/* Week 2 */
#show-week2 ~ ul{
  right: calc(-100% - 97px);
}
/* Week 3 */
#show-week3 ~ ul{
  right: calc(-100% - 93px);
}
/* Week 4 */
#show-week4 ~ ul{
  right: calc(-100% - 0px);
}
/* Week 5 */
#show-week5 ~ ul{
  right: calc(-100% - 57px);
}
/* Week 7 */
#show-week7 ~ ul{
  right: calc(-100% - 51px);
}
/* Week 8 */
#show-week8 ~ ul{
  right: calc(-100% - 90px);
}


.content .links ul li
  {
    position: relative;
  }
.content .links ul li:hover ul
  {
    top: 0;
  }

/* Responsive code start */
@media screen and (max-width: 1250px){
  .wrapper nav
    {
      max-width: 100%;
      padding: 0 20px;

    }
  nav .content .links
    {
      margin-left: 30px;
    }
  .content .links li a
    {
      padding: 8px 13px;
    }
}

@media screen and (max-width: 1000px){
  .wrapper .menu-icon{
    display: block;
  }
  .wrapper #show-menu:checked ~ .menu-icon i::before{
    content: "\f00d";
  }
  nav .content .links{
    display: block;
    position: fixed;
    background: #14181f;
    height: 100%;
    width: 100%;
    top: 70px;
    left: -100%;
    margin-left: 0;
    max-width: 350px;
    overflow-y: auto;
    padding-bottom: 100px;
    transition: all 0.3s ease;
  }
  nav #show-menu:checked ~ .content .links{
    left: 0%;
  }
  .content .links li{
    margin: 15px 20px;
  }
  .content .links li a,
  .content .links li label{
    line-height: 40px;
    font-size: 20px;
    display: block;
    padding: 8px 18px;
    cursor: pointer;
  }
  .content .links li a.desktop-link{
    display: none;
  }


  /* dropdown responsive code start */
  .content .links ul,
  .content .links ul ul{
    position: static;
    opacity: 1;
    visibility: visible;
    background: none;
    max-height: 0px;
    overflow: hidden;
  }
  .content .links #show-assignments:checked ~ ul,
  .content .links #show-week2:checked ~ ul,
  .content .links #show-week3:checked ~ ul,
  .content .links #show-week4:checked ~ ul,
  .content .links #show-week5:checked ~ ul,
  .content .links #show-week7:checked ~ ul{
    max-height: 100vh;
  }
  .content .links ul li{
    margin: 7px 20px;
  }
  .content .links ul li a{
    font-size: 18px;
    line-height: 30px;
    border-radius: 5px!important;
  }

   
  .hero-section .content {
    height: 45%;
    margin-top: 0px;
  }
  .hero-section .content h1, 
  .hero-section .content h2 {
    font-size: 18px;
  }
  .hero-section .content p {
    font-size: 10px;
  }
  .hero-section .content img {
    top: 3px;
    width: 105%;
    height: auto;
    left:5px;
  }
}

 .hero-section {
    position: relative;
    background-color: #1b2332;
    height: 650px;
    overflow: hidden;
    align-items:center;
    display:flex
  }

  .hero-section img {
    position: absolute;
    top: 70px;
    left: 0;
    width: 90%;
    height: 50%;
    margin-left:5%;
    object-fit: cover;
    border-radius: 125px;
    border-color: #c2c2c4;
    border-width: 5px;
    border-style: solid;
  }

  .hero-section .content {
    position: absolute;
    top: 35.5%;
    left: 50%;
  
    transform: translate(-50%, -50%);
    background-color: rgba(240, 248, 255, 0.9); 
    padding: 15px;
    text-align: left;
    color: black;

    border: 1.5px solid black;
    max-width: 62%;
    width: 650px;
    box-shadow: 0 4px 20px rgba(0,0,0,0.3);
    border-radius: 20px;
    display: flex;
    align-items: center;
    gap: 18%;
  }

  .content img 
  {
      width: 150px; height: 175px;
      border: 3px solid #5a5a5a;
      border-radius: 10px;
      position: relative;
      top: 3px;
      left: 15%;
      
  }