/*
  File: AudioDemo.css
  Author: Shane John
  Date: 2025-07-06
  Course: CPSC 3750 – Web Application Development
  Purpose: Styles the AudioDemo application page 
  Notes: Some element stylings have been repeated from GroupAudio assignment, because I like the way
*/

/* Page Background*/
body {
    background-color: black;
    color: white;
    margin: 0;
    padding: 0;
}
/* Headers Styles */
h2, h3, h4 {
    background-color: black;
    color: white;
    padding: 3px;
    
}
h2 {
   margin-left: 45px;
   margin-top: 20px;  
   display:inline-block;
}
h3 {
    margin-left: 45px; 
    margin-bottom: 10px;
    display:inline-block;
}
h4 {
    text-align: center;
}

/* Default Button Styles*/
button {
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 20px;
    margin: 5px;
    border-radius: 20px;
    cursor: pointer;
}
/* Rewind/Fast Forward Buttons */
#rewindButton, #fastForwardButton {
    display: inline-block;
    margin: 5px;
    margin-left: 23px;
}
#rewindButton:hover, #fastForwardButton:hover {
    background-color: rgb(150, 119, 96);
}
/* Title Control Buttons */
#addSegment {
    background-color: green;
}
#removeSegment {
    background-color: red;
}
#playPauseButton:hover, #addTitle:hover, #removeTitle:hover {
    background-color: #555;
}
/* Volume Slider */
#volumeRange {
    width: 75%;
}

/* Titles Playlist Styles*/
#playlist {
    list-style: none;
    padding: 0;
    margin: 20px auto;
    width: fit-content;
    min-width: 200px;
    
}
#playlist li {
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    margin: 5px 0;
    background-color: #222;
    border-radius: 10px;
    cursor: pointer;
    text-align: center;
}
#playlist li:hover {
    background-color: #444;
}

/* Downward Chevron(arrow) for lower page indicator */
.chevron 
{
    text-align: center;
    margin: 10px 0;
}
.chevron-line 
{
    display: inline-flex;
    width: 30px;
    height: 30px;
    border-left: 2px solid white;
    border-bottom: 2px solid white;
    transform: rotate(315deg);
}

  /* Stylings ported from GroupAudio Assignment */
    /* Control Element */
    .control 
    {
      margin-bottom: 15px; 
      margin-left: 30px;
    }
    /* Element Labels */ 
    label 
    { 
      display: block; 
      font-weight: bold; 
      padding-bottom: 5px;
    }
    /* Time Slider */
    #timeRange 
    {
      width: 275px;
    }
    /* Playback Information */
    .playback
    {
      margin-bottom: 15px;
      text-align: center;
    }

    /* Active segment button styling */
    #playlist button.active {
    background-color: cornflowerblue;
    color: white;
    border: 2px solid #fff;
    }




    

    .user-test 
    {
        margin: 5px;
    }
    .user-test a
    {
        padding: 5px;
    }