body{
  background-image: url("screen.jpg");
  background-size: cover;
  margin: 100px;
	padding:0;
	font-family: Sans-Serif;
  border: 2px solid #000000;
  border-radius: 20px;
}

body main { 
  background-color: #ffffff;
  padding: 9px;
}

header {
  padding-top: 20px;
  padding-bottom: 20px;
  background-color: #000000;
  text-align: center;
  border: 2px solid #000000;
  border-top-left-radius: 20px;
  border-top-right-radius:20px;
}

header img {
  width: 100px;
  height: auto;
  margin-left: 30px;
}

header h1 {
  display: inline-block;
  padding-left: 30px;
  vertical-align: top;
  margin-top: 40px;
  font-family: Avenir light;
  color: #ffffff;
}

nav {
  background-color: #2d2754;
  padding: 10px;
  text-align: center;
  color: #ffffff;
  font-family: avenir;
}

nav a {
  color: #ffffff;
  text-decoration: none;
  padding: 10px;
}

#about_me {
  background-color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  margin-bottom: 30px;
  font-family: Avenir light;

}

#about_me h2 {
  color: #1d126e;
  font-family: Avenir;
}

#about_me p {
  color: #000000;
}

#my_favorites {
  background-color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Avenir light;
}

#my_favorites h2 {
  color: #1d126e;
  font-family: Avenir;
}

marquee img {
  width: 230px;
  height: 300px;
  margin-left: 10px;
}

#the_story {
  background-color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Avenir light;
  border: none;
}

#the_recipe {
  background-color: #ffffff;
  padding-left: 80px;
  padding-right: 80px;
  font-family: Avenir light;
  border: none;
}


footer {
  background-color: #000000;
  border: 2px solid #000000;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius:20px;
  color: #ffffff;
  text-align: center;
  padding: 10px;
}